@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&family=Raleway:ital,wght@0,400;1,300&display=swap');

body{
    color: #FFF;
    font-family: 'Balloo 2', sans-serif;
}

.clickable:hover{
    cursor: pointer;
}

/*This css is just to align the placeholder labels in each item*/
.bookshelf,
.plant,
.window,
.pet,
.scheduler,
.notepad,
.clock{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Wall styling*/
#back-wall{
    display: grid;
    grid-template-columns: repeat(auto-fill, 50px);
    grid-template-rows: repeat(auto-fill, 50px);
    width: 100%;
    height: 60vh;
    background-color: #666;
}

.bookshelf{
    grid-row: -1/-15;
    grid-column: 2/8;
    position: relative;
    top: 35px;
    background-color: #111;
}

.plant{
    grid-row: -1/-4;
    grid-column: 9/11;
    position: relative;
    top: 35px;
    background-color: #111;
}

.window{
    grid-row: 3/8;
    grid-column: -7/-12;
    background-color: #111;
}

/*Floor Styling*/
#floor{
    display: grid;
    grid-template-columns: repeat(auto-fill, 50px);
    grid-template-rows: repeat(auto-fill, 50px);
    width: 100%;
    height: 20vh;
    background-color: #999;
}

.pet{
    grid-row: -2/-4;
    grid-column: 25/30;
    background-color: #111;
}
.speech-bubble {
    grid-row: -4/-5;
    grid-column: 28/32;
    border-radius: 15px;
    background-color: blue;
}

/*Table Styling*/
#table {
    display: grid;
    grid-template-columns: repeat(auto-fill, 50px);
    grid-template-rows: repeat(auto-fill, 50px);
    width: 100%;
    height: 20vh;
    background-color: #333;
}

.scheduler{
    grid-row: -3/-4;
    grid-column: 2/5;
    background-color: #111;
}

.notepad{
    grid-row: -1/-4;
    grid-column: 24/26;
    background-color: #111;
}

.clock{
    grid-row: -2/-4;
    grid-column: -2/-4;
    background-color: #111;
}

/*Responsive positioning styles*/
@media (max-width: 1625px){
    .notepad{
        grid-column: -16/-18;
    }

    .pet{
        grid-column: -12/-17
    }
}

@media (max-width: 1110px){
    .notepad {
        grid-column: 13/15;
    }

    .window{
        grid-column: 15/20;
    }

    .pet{
        grid-column: 9/14;
    }
}

/*Pop-up window styling*/
#pop-up {
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(100, 100, 100, 0.5);
    color: black;
}

#pop-up > div{
    height: 500px;
    width: 800px;
}

.open{
    display: flex;
}

.closed{
    display: none;
}