body{
    color: #FFF;
}

/*Wall styling*/
#back-wall{
    display: grid;
    grid-template-columns: repeat(auto-fill, 50px);
    grid-template-rows: repeat(auto-fill, 50px);
    width: 100%;
    height: 60vh;
    background-color: #666;
}

.bookshelf{
    grid-row: -1/-15;
    grid-column: 2/8;
    position: relative;
    top: 35px;
    background-color: #111;
}

.window{
    grid-row: 3/8;
    grid-column: -7/-12;
    background-color: #111;
}

/*Floor Styling*/
#floor{
    display: grid;
    grid-template-columns: repeat(auto-fill, 50px);
    grid-template-rows: repeat(auto-fill, 50px);
    width: 100%;
    height: 20vh;
    background-color: #999;
}

.pet{
    grid-row: -3/-4;
    grid-column: 25/27;
    background-color: #111;
}

/*Table Styling*/
#table {
    display: grid;
    grid-template-columns: repeat(auto-fill, 50px);
    grid-template-rows: repeat(auto-fill, 50px);
    width: 100%;
    height: 20vh;
    background-color: #333;
}

.scheduler{
    grid-row: -3/-4;
    grid-column: 2/5;
    background-color: #111;
}

.notepad{
    grid-row: -1/-4;
    grid-column: 24/26;
    background-color: #111;
}

.clock{
    grid-row: -2/-4;
    grid-column: -2/-4;
    background-color: #111;
}

/*Responsive positioning styles*/

@media (max-width: 1625px){
    .notepad{
        grid-column: -16/-18;
    }

    .pet{
        grid-column: -12/-14
    }
}

@media (max-width: 1110px){
    .notepad {
        grid-column: 13/15;
    }

    .window{
        grid-column: 15/20;
    }

    .pet{
        grid-column: 12/14;
    }
}